html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body {
	font-family: Calibri, Corbel;
	width: 100%;
	min-width: 960px;
}

body {
	background-image: url('img/bg.jpg');
}

a {
	text-decoration: none;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
}

#language {
	padding: 10px 0;
	height: 30px;
}

#language div {
	float: right;
	position: relative;
}

#language span {
	color: #FFFFFF;
	font-style:italic;
	font-size: 12px;
	float: right;
	width: 200px;
	margin-top: 2px;
	text-align: right;
}

.flag-l {
	margin-left: 10px;
}

.flag-l a{
	height: 20px;
	width: 26px;
	display: block;
	background: url('img/language-flag.png') no-repeat top left;
}

.fr a:HOVER{ background-position: 0 0;} 
.gb a:HOVER{ background-position: 0 -80px;} 
.usa a:HOVER{ background-position: 0 -160px;} 


.fr .active{ background-position: 0 0;} 
.fr a{ background-position: 0 -40px;} 
.gb .active{ background-position: 0 -80px;} 
.gb a{ background-position: 0 -120px;} 
.usa .active{ background-position: 0 -160px;} 
.usa a{ background-position: 0 -200px;} 


#page {
	background-image: url('img/bg-wrapper.png');
	border-radius: 5px;
	padding-bottom: 30px;
}

#logo {
	padding: 12px 12px  0px 40px;
	height: 72px;
}

#logo img {
	float: left;
}

#search {
	float:right;
}

#search input {
	border: 0px;
	padding: 5px;
	border-radius: 2px;
	float: left;
	display: block;
	vertical-align: middle;
}

.search-input {
	width: 210px;
	margin-right: 10px;
	height: 20px; 
}

.search-btn {
	height: 30px;
	width: 90px;
	color: #7D0000;
	font-family: Myriad Pro, Calibri;
	font-size: 16px;
	background-image: url('img/btn-search.gif');

}

.search-btn:HOVER {
	cursor: pointer;
}

#menu {
	position: relative;
	height: 80px;
	background-image: url('img/bg-menu.png');
}

#menu ul {
	position: absolute;
	right: 30px;
	top: 20px;
}

#menu ul li {
	float: left;
	padding-left: 17px;
}

#menu ul li a {
	display: block;
	letter-spacing: 1px;
	height: 30px;
	padding: 4px 10px 0px 10px;
	font-size: 24px;
	font-weight: bold;
	font-family: Corbel;
	color: #7D0000;
}

#menu ul li a:HOVER {
	background-color: #7D0000;
	color: #FFFFFF;
}

#menu .active {
	background-color: #7D0000;
	color: #FFFFFF;
}

#football {
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('img/balls.png');
	background-repeat: no-repeat;
	height: 70px;
	width: 250px;
}


#top {
	padding: 0px 20px 20px 20px;
}

#roundabout{
	background-color: #FFFFFF;
	border-radius: 5px;
	height: 290px;
	background: url('img/bg-balls.png') no-repeat scroll 0 100% #FFFFFF;
	padding: 10px 15px;
	box-shadow: 0px 2px 3px #888888;
}

.news {
	height: 260px;
	position: relative;
	margin: 0 25px;
}

#roundabout h1{
	font-size: 30px;
	font-weight: bold;
	color: #BED4E7;
	letter-spacing: 1px;
}

#roundabout .title {
	margin-left: 37px;
}

.preview {
	height: 239px;
	width: 838px;
	background-color: #CEDEED;
	border: 1px solid #CCCCCC; 
	border-radius: 10px;
	box-shadow: 0 2px 5px #8888AA inset;
	padding-top: 9px;
	float: left;
	overflow: hidden;
	position: relative;
}

#slider ul, #slider li, #slider2 ul, #slider2 li{
    position:relative;
    list-style:none;
    display:block;
}

.preview .all {
	display: block;
	width: 9000000px;
	margin-left: -5px;
}

.event {
	display: block;
	border: 1px solid #CCCCCC;
	padding: 10px;
	width: 160px;
	height: 208px;
	background-color: #FFFFFF;
	margin: 0 15px 0 15px;
	float: left;
}

#roundabout .event a:HOVER h1{
	color: #81C5FF;
}

.prevBtn, .nextBtn {
	display: block;
	position: absolute;
	left: -25px;
	top: 90px;
	cursor: pointer;
}

.nextBtn {
left: 848px;
}

#controls a{
	z-index: 10;
}

#controls-bg span{
	z-index: 1;
}

#buttons span{
	margin: 0 10px;
	cursor: pointer;
}

#buttons .active{
	color: #FF6600;
}

#buttons span:HOVER{
	color: #FF6600;
}


#main {
	padding: 0px 20px 25px 20px;
	/*min-height: 400px;*/
	overflow: hidden;
}

.content {
	border-radius: 4px;
	background: #FFFFFF;
	position: relative;
}

#main .left {
	float: left;
	width: 240px;
	letter-spacing: 1px;
	
}

#main .right {
	padding: 20px 0px;
	float: right;
	overflow: hidden;
}

.row {
	overflow: hidden;
}

.menu-title {
	background-color: #93C902;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	padding: 3px 0 3px 65px;
	margin: 20px 0px 0px 0px;
}

.menu-shadow {
	background: url('img/shadow-menu-title.png') no-repeat scroll 50% 50%;
	width: 100%;
	height: 11px;
	margin-bottom: 15px;
}

.big-cup {
	background: url('img/cup.png');
	height: 68px;
	width: 45px;
	margin-left: -55px;
	margin-top: -15px;
	position: absolute;
}

.cup{
    background-image: url('img/cups.png');
    position: absolute;
    left: 5px;
    top: 4px;
    width: 15px; 
    height: 21px;
    display: block;
}

.cup-bronze{ background-position: 0 0; } 
.cup-gold{ background-position: 0 -41px; } 
.cup-other{ background-position: 0 -82px; } 
.cup-silver{ background-position: 0 -123px; } 

.country {
	overflow: hidden;
	height: 186px;
	position: relative;
}

.country ul li a{
	display: block;
	position: relative;
	border-bottom: 1px solid #EEEEEE;
	padding: 8px 30px;
	font-size: 14px;
	color: #888888;
	width: 140px;
}

.country ul li a:HOVER{
	color: #008AFF;
	background-color: #EBF6FF;
}

.flag {
    background: url('img/flags.png') no-repeat top left;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 24px;
    height: 23px;
}

.flag-ago{ background-position: 0 0; } 
.flag-fr{ background-position: 0 -44px; } 
.flag-ro{ background-position: 0 -88px; } 
.flag-ru{ background-position: 0 -130px; } 
.flag-ua{ background-position: 0 -171px; } 

.logo-menu {
	width: 100%;
	background: url('img/logo-menu.gif') no-repeat scroll 50% 50%;
	height: 39px;
	margin: 10px 0px;
}

.slid {
 overflow: hidden;
 padding:22px 20px 30px;
 position: relative;
}

.prevBtn2, .nextBtn2 {
	display: block;
	position: absolute;
	left: 95px;
	cursor: pointer;
	margin-top: 10px;
}

.prevBtn2 {
	top: 0px;
	margin-top: 0px;
}

#controls2 a{
	z-index: 10;
}


#controls2-bg span{
	z-index: 1;
	cursor: default;
}

.right-title {
	background-color: #BED4E7;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	padding: 3px 20px;
	width: 280px;
	letter-spacing: 1px;
}

.rules {
	float: left;
	width: 200px;
	padding: 20px 30px 10px 100px;
	position: relative;
}

.rules .images {
	position: absolute;
	width: 70px;
	height: 80px;
	margin-left: -85px; 
}

.rules .flag-big {
	background: url('img/flag.png') no-repeat center center;
}

.rules .ball {
	background: url('img/ball.png') no-repeat center center;
}

.rules .cards {
	background: url('img/cards.png') no-repeat center center;
}

.rules .stadium {
	background: url('img/stadium.png') no-repeat center center;
}

.rules .title {
	color: #CCCCFF;
}

.rules .title h2{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}

.rules .title:HOVER{
	color: #81C5FF;
}

.rules .text {
	padding: 10px 0;
	color: #2e4c61;
	font-size: 12px;
	font-family: Arial;
	line-height: 18px;
}

.wiev-rule {
	padding: 5px;
	background: url('img/bg-btn-green.png');
	background-position: 0 -44px; 
	display: block;
	height: 13px;
	width: 180px;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 1px;
}

.wiev-rule:HOVER {
	background-position: 0 0;
 } 


#footer-menu {
	float: right;
	padding-right: 15px;
}

#footer-menu li {
	float: left;
	margin: 0 10px;
}

#footer-menu ul li a{
	float: left;
	color: #3D6202;
	font-size: 12px;

}

#footer-menu li a:HOVER{
	color: #008AFF;
	text-decoration: underline;
}

#footer-menu .active{
	color: #008AFF;
	text-decoration: underline;
}

#footer {
	background-color: #FFFFFF;
	border-radius: 5px;
	margin: 20px 0 40px 0;
	padding: 8px;
	height: 40px;
}

.copyright {
	float: right;
	color: #ccd3d9;
	font-style: italic;
	font-size: 14px;
	margin: 13px;
}

.reff {
	float: left;
	margin-right: 8px; 
}

.reff a{
	display: block;
	border-radius: 5px;
	border:1px solid #CCCCCC;
	height: 38px;
	width: 128px;
	background: url('img/bg-reff.png');
	background-position: 0 -42px;
}

.reff a:HOVER {
	background-position: 0 0; 
}

.reff img {
	height: 38px;
	width: 128px;
	border:0px;
}

.arrow{
    background: url('img/arrows.png') no-repeat top left;
}

.arrow-down-active{ background-position: 0 0; width: 56px; height: 19px; } 
.arrow-down{ background-position: 0 -38px; width: 55px; height: 19px; } 
.arrow-left-active{ background-position: 0 -77px; width: 19px; height: 55px; } 
.arrow-left{ background-position: 0 -152px; width: 19px; height: 55px; } 
.arrow-right-active{ background-position: 0 -227px; width: 19px; height: 55px; } 
.arrow-right{ background-position: 0 -302px; width: 19px; height: 55px; } 
.arrow-up-active{ background-position: 0 -377px; width: 55px; height: 19px; } 
.arrow-up{ background-position: 0 -416px; width: 56px; height: 19px; } 
